
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: FreeMono, monospace;
    background-color: rgb(24, 24, 24);
    color:rgb(234, 241, 242);
}
/* Блок меню */

.header {
    border-color:rgb(255, 251, 0);
    border-radius: 15px;
    border-style: solid;
    padding: 20px;
    background-color: rgb(13, 13, 13);
    text-align: left;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
    background-image: url('Небо2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: #040e92; /* Цвет заголовка */
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    transition: 1s;
}

.nav a:hover {
    background-color: rgb(255, 140, 0);
    color: black;
    transition: 1s;
    padding: 8px 14px;
}

/* Блок контента номер 1 */

.block1 {
    display: flex;
    justify-content: center;
    gap: 400px;
    margin: 60px;
    width: 170px;
    background-image: url('Небо2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: #120355; /* Цвет заголовка */
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 170px 85px;
    display: flex;
    justify-content: space-evenly;
}

.block1, img {    
    justify-content: center;    
    align-items: center;    
    width: 90%;    
    height: 40vh;
}

.zoom {
    width: 300px;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.zoom:hover {
    transform: scale(2.2);
}

.photo1 {
    border-radius: 20px;
    width: 350px;
}

.left {
    margin-right: 20px;
}

.right{
    width: 600px;
}

.btn{
    width: 60%;
    height: 65px;
    color:black;
    background-color: rgb(255, 140, 0);
    transition: 1s;
    font-size: 20px;
    font-weight: 900;
    margin: 10px;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: 1s;
}

.caption{
    margin: 10px;
}

.text1{
    margin: 10px;
}

/* Блок контента номер 2 */

.block2 {
    margin: 10px;
    background-color: rgb(13, 13, 13);
    border-radius: 20px;
    padding: 60px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url('Небо1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

.photo {
    width: 300px;
    display: block;
    margin: 10px;
    border-radius: 20px;
}


/* Блок контента номер 3 */

.block3 {
    margin: 10px;
    background-color: rgb(13, 13, 13);
    border-radius: 20px;
    padding: 60px 20px;
    background-image: url('Небо3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

.caption2 {
    margin-bottom: 20px;
}

.item {
    padding: 8px 12px;
    background: #0f0f0f;
    background: linear-gradient(90deg, rgba(15, 15, 15, 1) 0%, rgba(28, 28, 28, 1) 50%, rgba(156, 78, 0, 1) 100%);
    border-radius: 10px;
    margin: 10px;
}

/* Блок футера */

footer {
    text-align: center;
    background-color: rgb(13, 13, 13);
    padding: 30px;
    font-size: 14px;
    background-image: url('Поле.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

.footer-botton, a {
    color: #0d2503;
    text-decoration: none;
    transition: all var(--transition-fast);
    padding: 0.3rem 0;

    border-color:rgb(60, 143, 4);
    border-radius: 25px;
    border-style: solid;
    padding: 25px;


    font-family: 'Arial Black', Arial, serif;
    font-size: 20px;
    font-style: oblique;
}
